/* IMPOSTAZIONE PAGINA */
body {
  background-color: lightgray;
  width: 1000px;
  margin: auto;
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}


/* HEADER */

header {
  background-color: yellow;
  margin-top: 30px;
  margin-bottom: 10px;
  height: 100px;
  max-width: 100%;
}

header h1 {
  text-align: center;
}


/* MAIN */
main{
    height: 400px;
    margin-bottom: 10px;
}

#container{
  content: "";
  display: table;
  clear: both;
}

/* square sx */
.square.sx{
  background-color: pink;
  float: left;
}

.square.centro{
  background-color: purple ;
  float: left;
}

.square.dx{
  background-color: pink ;
  float: left;
}

/* FOOTER */
